<h1>Create Pin</h1>

<form method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="description">Description</label><br>
        <textarea id="description" cols="60" rows="5" name="description"></textarea>
    </div>
    <input type="submit" value="Create Pin">
</form>