<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Salut</h1>
{% for pin in pins %}
<article>
    <h1>{{ pin.titre() }}</h1>
    <p>{{ pin.description }}</p>
</article>
{% endfor %}
</body>
</html>